In [1]:
# Importing the requisite packages
import pandas as pd
import geopandas as gpd
from geopandas.tools import geocode

# Reading in the data and geocoding

In [2]:
dc_attractions = pd.read_csv(r'G:\My Drive\Geospatial Data Science with Python\Data\DC_Attractions.csv')
dc_attractions.head()

,Attraction,Address
0,Washington Monument,"2 15th St NW, Washington, DC 20024"
1,Smithsonian National Air and Space Museum,"600 Independence Ave SW, Washington, DC 20560"
2,White House,"1600 Pennsylvania Avenue NW, Washington, DC 20500"

In [3]:
# Geocode addresses using Nominatim. Remember to provide a custom "application name" in the user_agent parameter!
dc_attractions_gpd = geocode(dc_attractions['Address'], provider='openmapquest', timeout=4, api_key="ZO5OH4wdsrGzmZL75HR5zKqcy9bUF0P9")
dc_attractions_gpd.head()

,geometry,address
0,POINT (-77.03459 38.90178),"15th Street NW, Golden Triangle, Washington, D..."
1,POINT (-77.03771 38.88772),"Independence Avenue Southwest, Penn Quarter, W..."
2,POINT (-77.03655 38.89772),"1600, Pennsylvania Avenue Northwest, Golden Tr..."

# Performing join

In [4]:
final_gpd = dc_attractions_gpd.merge(dc_attractions[['Attraction']], how='left',left_index=True, right_index = True)
final_gpd.head()

,geometry,address,Attraction
0,POINT (-77.03459 38.90178),"15th Street NW, Golden Triangle, Washington, D...",Washington Monument
1,POINT (-77.03771 38.88772),"Independence Avenue Southwest, Penn Quarter, W...",Smithsonian National Air and Space Museum
2,POINT (-77.03655 38.89772),"1600, Pennsylvania Avenue Northwest, Golden Tr...",White House

# Performing Boolean Filtering

In [5]:
wh = final_gpd[final_gpd['Attraction'] == 'White House']
wh.head()

,geometry,address,Attraction
2,POINT (-77.03655 38.89772),"1600, Pennsylvania Avenue Northwest, Golden Tr...",White House

In [6]:
final_gpd['Attraction'] == 'White House'

0    False
1    False
2     True
Name: Attraction, dtype: bool

# Exploring the data

In [7]:
final_gpd.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   geometry    3 non-null      geometry
 1   address     3 non-null      object
 2   Attraction  3 non-null      object
dtypes: geometry(1), object(2)
memory usage: 204.0+ bytes